<!-- Reviews changes as informed by MATT -->
@Html.Sitecore().Placeholder("Reviews")
<!--/ Location Content -->
<div class="container">
    <div id="content" class="location-main-content">
        @Html.Sitecore().Placeholder("Content")
    </div>

</div>
 <!-- Location Content /-->
