@using Sitecore.Mvc.Presentation
@using Sitecore.Mvc

@model AMS.Web.Models.BlogList

@if (Model != null)
{
    var service = new AMS.Web.Services.BlogService();
    var count = Model.Blogs.Count();
    var page = Model.GetPage();
    <div class="blog-paging">
        @if (count - Model.ItemsPerPage * (page + 1) > 0)
        {
            <a href="@service.GetPageUrl(Model,page + 1)">Older posts</a>
        }

        @if (page > 0 & count > page * Model.ItemsPerPage)
        {
            <a href="@service.GetPageUrl(Model, page - 1)">Newer posts</a>
        }
    </div>
}