@using Sitecore.Mvc
@using System.Web.Mvc.Html
@inherits System.Web.Mvc.WebViewPage
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="format-detection" content="telephone=no">
    <title>Anchorage LA Auto Movers Makes Moving Your Extra Cars Simple</title>
    <meta name="description" content="Don’t put unnecessary wear and tear on your vehicle during a move. Hire professional Anchorage Louisiana movers and save your car from additional mileage. ">
    <meta name="keywords" content="Anchorage LA movers Auto Movers">

    <link href="https://www.allmysons.com/Content/AMS/allmysons/css/styles?v=qJzWHNdX0aqDGdGYTMrp2a2FbjlwH9eOH5XS9NwZWjg1" rel="stylesheet" />

    <link href="https://www.allmysons.com/-/media/css/style.ashx?v=20170731&la=en" rel="stylesheet" />
    <style>
        #content {
            text-align: left;
        }

            #content h2 {
                background: #274e37;
                padding: 8px 0 !important;
                margin-bottom: 20px;
                color: #fff !important;
            }

                #content h2 a {
                    color: #fff !important;
                }

        .readmore {
            display: block;
            text-align: right;
        }

            .readmore a {
                padding: 8px 15px;
                background: #f3f3f3;
                color: #274e37 !important;
                border-radius: 30px;
            }

                .readmore a:hover {
                    padding: 8px 15px;
                    background: #ccc;
                    color: #274e37 !important;
                    text-decoration: none !important;
                }

        #BlogRight a {
            line-height: 30px;
        }
    </style>
</head>

<body itemscope itemtype="http://schema.org/LocalBusiness">
    <!-- Preloader /-->
    <div class="body-overlay">&nbsp;</div>

    <div class="wrapper">
        <!--/ Header -->
        <header class="clearfix">
            <div class="menu-icon pull-left">
                <a><i class="fa fa-navicon"></i></a>
            </div>
            <div class="header-right">
                <a href="tel:225-271-2181" class="fa fa-phone">&nbsp;</a>
                <p itemprop="telephone" class="phone">225-271-2181</p>
            </div>
            <div class="brand-main">
                <meta itemprop="name" content="Anchorage LA Auto Movers Makes Moving Your Extra Cars Simple" />
                <meta itemprop="image" content="https://www.allmysons.com/Content/AMS/allmysons/images/logo-brand.png" />
                <meta itemprop="url" content="" />
                <a href="https://www.allmysons.com/" title="Anchorage LA Auto Movers Makes Moving Your Extra Cars Simple">&nbsp;</a>
            </div>
            <div class="national-rating">
                <span>Rating</span>
                <span class="national-rating_value">4.2</span>
                <div class="star-ratings">
                    <div class="star-ratings-top" style="width: 84%"></div>
                    <div class="star-ratings-bottom"></div>
                </div>
                <div class="aggregate-rating" style="display:none">
                    <div itemprop="name">All My Sons</div>
                    <div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                        <meta itemprop="itemReviewed" content="All My Sons" />
                        <span itemprop="reviewCount">825</span>
                        <span itemprop="ratingValue">4.2</span>
                    </div>
                </div>
            </div>

        </header>

        <!-- Header /-->
        <!--/ Location Content -->
        <div class="container">
            <div id="content" style="width:75%;float:left" class="location-main-content">
                @Html.Sitecore().Placeholder("xblogmain")
            </div>
            <div id="BlogRight">
                @Html.Sitecore().Placeholder("xblogright")
            </div>
        </div>
        <!-- Location Content /-->
        <!--/ Footer -->
        <footer>
            <!-- top -->
            <div class="footer-content">
                <h6>We’re Very Social</h6>
                <div class="footer-social clearfix">
                    <ul>
                        <li><a href="https://www.facebook.com/AllMySons/" target="_blank" class="fa fa-facebook"></a></li>
                        <li><a href="https://plus.google.com/+AllMySonsMovingStorage/" target="_blank" class="fa fa-google-plus"></a></li>
                        <li><a href="https://twitter.com/allmysonsmoving" target=_blank" class="fa fa-twitter"></a></li>
                        <li><a href="https://www.pinterest.com/allmysonsmoving/" target="_blank" class="fa fa-pinterest-p"></a></li>
                        <li><a href="https://www.youtube.com/c/AllMySonsMoving" target="_blank" class="fa fa-youtube-play"></a></li>
                    </ul>
                </div>
            </div>
            <!-- links -->
            <div class="footer-useful-links clearfix">
                <a DisableWebEdit="True" href="/">Home</a><a DisableWebEdit="True" href="/ams_local.aspx">Local Movers</a><a DisableWebEdit="True" href="/ams_services.aspx">Moving Services</a><a DisableWebEdit="True" href="/ams_resources.aspx">Moving Resources</a><a DisableWebEdit="True" href="/ams_storage.aspx">Find Storage</a><a DisableWebEdit="True" target="_blank" href="http://allmysonsmovingblog.allmysons.com/">Moving Blog</a><a DisableWebEdit="True" href="http://movingjobs.us/">Careers</a><a DisableWebEdit="True" href="/ams_feedback.aspx">Contact Us</a><a DisableWebEdit="True" href="/responsibilites.aspx">Rights & Responsibilities</a><a DisableWebEdit="True" href="/ams_sponsorships.aspx">Our Partners</a><a DisableWebEdit="True" href="/sitemap.aspx">Site Map</a><a DisableWebEdit="True" href="/ams_terms.aspx">Terms</a><a DisableWebEdit="True" href="/ams_privacy.aspx">Privacy</a>
            </div>
            <!-- copyright -->
            <div class="footer-copyrighs">
                <div class="footer-copyrighs">
                    <p>Copyright &copy; 2018 All My Sons Moving &amp; Storage. All Rights Reserved.</p>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>
