<!--
  Configures allmysons.com site and corresponding URL.
  Set desired scheme and hostname here.
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sites>
      <!-- scheme="http" hostName="" -->
      <site patch:before="*[@name='website']" name="allmysons" browserTitle="All My Sons Moving &amp; Storage | Moving Companies | Moving Company | Movers |" enableTracking="true" virtualFolder="/" physicalFolder="/" rootPath="/sitecore/content/AMS/allmysons" startItem="/home" database="web" domain="extranet" allowDebug="true" cacheHtml="true" htmlCacheSize="50MB" registryCacheSize="0" viewStateCacheSize="0" xslCacheSize="25MB" filteredItemsCacheSize="10MB" enablePreview="true" enableWebEdit="true" enableDebugger="true" disableClientData="false" cacheRenderingParameters="true" renderingParametersCacheSize="10MB"/>
    </sites>
    <!--- replace spaces with - in friendly URLs -->
    <encodeNameReplacements>
      <replace patch:instead="*[@find=' ']" replaceWith="_" mode="on" find=" " />
    </encodeNameReplacements>

    <linkManager defaultProvider="sitecore">
      <providers>
        <add name="sitecore">
          <patch:attribute name="type">AMS.Web.Providers.AmsLinkProvider, AMS.Web</patch:attribute>
          <patch:attribute name="addAspxExtension">true</patch:attribute>
          <patch:attribute name="lowercaseUrls">true</patch:attribute>
          <patch:attribute name="languageEmbedding">never</patch:attribute>
        </add>
      </providers>
    </linkManager>

    <settings>
      <!-- prohibit _ in item name. NB! It affects _standard values -->
      <setting name="ItemNameValidation">
        <patch:attribute name="value">^[a-zA-Z0-9\*\$][a-zA-Z0-9\s\-\$]*(\(\d{1,}\)){0,1}$</patch:attribute>
      </setting>

      <setting name="HtmlEditor.RemoveScripts">
        <patch:attribute name="value">false</patch:attribute>
      </setting>

      <setting name="ItemNotFoundUrl" value="/404" />
      <setting name="LayoutNotFoundUrl" value="/404" />
      <setting name="LinkItemNotFoundUrl" value="/404" />

      <setting name="Analytics.PerformLookup" >
        <patch:attribute name="value">false</patch:attribute>
      </setting>

    </settings>

    <pipelines>
      <httpRequestBegin>
        <processor type="AMS.Web.Pipelines.ExecuteNotFoundRequest, AMS.Web" patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.ExecuteRequest, Sitecore.Kernel']"/>
        <processor type="Sitecore.Pipelines.HttpRequest.ExecuteRequest, Sitecore.Kernel">
          <patch:delete />
        </processor>
      </httpRequestBegin>
    </pipelines>

  </sitecore>
</configuration>